<html>
<head>
	<title>Finstagram</title>
</head>
<body>

	<h4 style={{hider}}>Choose Close Friend Group to add user to</h4>

	<form action="/closefgChoose" method="POST" style={{hider}}>
		{% for line in groupsData %}
		<input type="radio" name="options" value={{line}} required>{{line[4:]}}</input>
		<br>
		{% endfor %}
		<input type="submit" value="Submit">

	</form>
	<br>
	{% if message %}
	{{ message }}
	{% endif %}
	<br>
	<br>
	<a href="/home">Home</a>
	<br>
	<a href="/logout">Logout</a>

</body>
</html>
