<html>
<head>
</head>
<body>
    <div>
        <h4 style={{hider}}>Enter a name to add to the close friend group</h4>
        <form action="/closefgChooseAuth" method="post" style={{hider}}>
            <input type="text" name="username" placeholder="Username" required/>

            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <br>

        {% if error %}
        {{ error }}
        {% endif %}

        <br>
        <a href="/home">Home</a>

    </body>
    </html>