<html>
<head>
    <title>Tags</title>
</head>
<body>
    <h1>Tags</h1>
    <div>
        {% if error %}
        {{ error }}
        {% endif %}

        <form action="/acceptTags" method="POST" style={{hider}}>
            {% for photoID_line, photoOwners_line, path_line, index_line in iD_owner_path_index %}
            {% set deleter = index_line + "-"%}
            <div>
                <img src="/image/{{photoOwners_line}}/{{path_line}}" width="300"/>
                <br>
                <input type="radio" name="options" value={{index_line}} required>Accept Tag for PhotoID: {{photoID_line}}</input>
                <br>
                <input type="radio" name="options" value={{deleter}} >Reject Tag for PhotoID: {{photoID_line}}</input>
            </div>
            <br>
            {% endfor %}

            <input type="submit" value="Submit">
        </form>
    </div>
    <br>

    <a href="/home">Home</a>

</body>
</html>